@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /*white*/
    --foreground: 222.2 84% 4.9%; /*Dark navi*/
    --card: 0 0% 100%; /*white*/
    --card-foreground: 222.2 84% 4.9%; /*Dark navi*/
    --popover: 0 0% 100%; /*white*/
    --popover-foreground: 222.2 84% 4.9%; /*Dark navi*/
    --primary: 222.2 47.4% 11.2%; /*navi*/
    --primary-foreground: 210 40% 98%; /*white blue*/
    --secondary: 210 40% 96.1%; /*white blue*/
    --secondary-foreground: 222.2 47.4% 11.2%; /*navi*/
    --muted: 210 40% 96.1%; /*white blue*/
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%; /*white blue*/
    --accent-foreground: 222.2 47.4% 11.2%; /*navi*/
    --destructive: 0 84.2% 60.2%; /*red*/
    --destructive-foreground: 210 40% 98%; /*white blue*/
    --border: 214.3 31.8% 91.4%; /*white gray*/
    --input: 214.3 31.8% 91.4%; /*white gray*/
    --ring: 222.2 84% 4.9%; /*Dark navi*/
    --radius: 0.5rem;
    --chart-1: 12 76% 61%; /*orange red*/
    --chart-2: 173 58% 39%; /*cyan*/
    --chart-3: 197 37% 24%; /*Azure*/
    --chart-4: 43 74% 66%; /*yellow*/
    --chart-5: 27 87% 67%; /*amber*/
    --sidebar-background: 0 0% 98%; /*off white*/
    --sidebar-foreground: 240 5.3% 26.1%; /*dark gray blue*/
    --sidebar-primary: 240 5.9% 10%; /*very dark gray blue*/
    --sidebar-primary-foreground: 0 0% 98%; /*almost white*/
    --sidebar-accent: 240 4.8% 95.9%; /*very light gray blue*/
    --sidebar-accent-foreground: 240 5.9% 10%; /*very dark gray blue*/
    --sidebar-border: 220 13% 91%; /*light gray blue*/
    --sidebar-ring: 217.2 91.2% 59.8%; /*light blue*/
    --glass: hsla(0, 0%, 96%, 0.3);
    --secondary-blue: 206, 99%, 31%;
    --blue10: 206, 99%, 31%, 0.2;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .theme {
    --animate-marquee: marquee var(--duration) infinite linear;
    --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply overflow-x-hidden bg-background text-foreground;
  }
}

@theme inline {
  @keyframes marquee {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }

    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}
